<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raúl Gómez Developer</title>
    <!--ENLACE API LEAFLET--> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <!--LINKS CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--LINK ICONO-->
    <link rel="shortcut icon" href="../icono.ico" type="image/x-icon">
</head>
<body>

    <!--Cabecera y barra NAV-->
    <header>
        <nav>
            <img src="../assets/logo_mi_nombre-removebg-preview.png" alt="Logo de la web" class="img-logo" width="500" height="500">
            <div class="links-box" id="links-box"></div>
        </nav>
    </header>

    <!--CUERPO DE LA PAGINA-->
    <main>
        <section class="section">
            <h1 class="titulo">Ubicación</h1>
            <div id="map"></div>
            
            <div class="informacion">
                <br>Teléfono: 666777888.
                <br>Correo Electrónico: <a href="#">imaginaria@gmail.com</a>
                <br>Dirección: Calle Blas de Lezo, 23, 29015
            </div>
        </section>
    </main>

     <footer>
        <div class="text-footer">
            <p>
                <br>Teléfono: 666777888.
                <br>Correo Electrónico: <a href="#">imaginaria@gmail.com</a>
                <br>Dirección: Calle Blas de Lezo, 23, 29015
            </p>
            <p>&copy;Todos los derechos Reservados</p>
        </div>
        <div class="iconos">
            <a href="https://www.linkedin.com" target="_blank">
                <img class="icono" src="../assets/linkedin.png" alt="icono Linkedins" height="50" width="50">
            </a>
            <a href="https://github.com/RaulGomezGarcia" target="_blank">
                <img class="icono" src="../assets/github.png" alt="icono de github" height="512" width="512">
            </a>
            <a href="https://www.instagram.com/" target="-blank">
                <img class="icono" src="../assets/instagram-svgrepo-com.svg" alt="icono instagram" height="800" width="800">
            </a>
        </div>
    </footer>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/contacto.js"></script>
</body>
</html>