<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raúl Gómez Developer</title>
    <!--LINK CSS-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <!--LINK ICONO-->
    <link rel="shortcut icon" href="../icono.ico" type="image/x-icon">
</head>
<body>

    <!--Cabecera y barra NAV-->
    <header>
        <nav>
            <img src="../assets/logo_mi_nombre-removebg-preview.png" alt="Logo de la web" class="img-logo" width="500" height="500">
            <div class="links-box" id="links-box"></div>
        </nav>
    </header>

    <!--CUERPO DE LA PAGINA-->
    <main>
        <section class="section">
            <h1 class="titulo">
                Galeria Dinámica
            </h1>
            <small class="pulsar">Realizada con una API</small>
                        <div class="galeria">
                <a href="../assets/galeria-dinamica/galeria/inicio.png" data-lightbox = "roadtrip" data-title="Inicio proyecto"><img src="../assets/galeria-dinamica/galeria/inicio.png" alt="web" class="imagen" width="1891" height="911"></a>
                <a href="../assets/galeria-dinamica/galeria/highLights.png" data-lightbox = "roadtrip" data-title="highLights web" ><img src="../assets/galeria-dinamica/galeria/highLights.png" alt="Web" class="imagen" width="1898" height="903"></a>
                <a href="../assets/galeria-dinamica/galeria/contacto.png" data-lightbox = "roadtrip" data-title="Contacto web" ><img src="../assets/galeria-dinamica/galeria/contacto.png" alt="web" class="imagen" width="1895" height="906"></a>
                <a href="../assets/galeria-dinamica/galeria/productos.png" data-lightbox = "roadtrip" data-title="Productos web" ><img src="../assets/galeria-dinamica/galeria/productos.png" alt="Productos" class="imagen" width="1894" height="910"></a>
            </div>
            <div class="galeria">
                <a href="../assets/galeria-dinamica/galeria/ice-cream.jpg" data-lightbox = "roadtrip" data-title="Helado al sol" ><img src="../assets/galeria-dinamica/galeria/ice-cream.jpg" alt="Helado al sol" class="imagen" width="1280" height="853"></a>
                <a href="../assets/galeria-dinamica/galeria/ice.jpg" data-lightbox = "roadtrip" data-title="Hielo" ><img src="../assets/galeria-dinamica/galeria/ice.jpg" alt="Hielo" class="imagen" width="1280" height="853"></a>
                <a href="../assets/galeria-dinamica/galeria/lemonade.jpg" data-lightbox = "roadtrip" data-title="Limonada fresca" ><img src="../assets/galeria-dinamica/galeria/lemonade.jpg" alt="Limonada" class="imagen" width="1280" height="853"></a>
                <a href="../assets/galeria-dinamica/galeria/lime.jpg" data-lightbox = "roadtrip" data-title="Limonada de Lima" ><img src="../assets/galeria-dinamica/galeria/lime.jpg" alt="Lima" class="imagen" width="1280" height="853"></a>
            </div>
            <div class="galeria">
                <a href="../assets/galeria-dinamica/galeria/sea.jpg" data-lightbox = "roadtrip" data-title="Mar con rocas" ><img src="../assets/galeria-dinamica/galeria/sea.jpg" alt="Mar" class="imagen" width="854" height="1280"></a>
                <a href="../assets/galeria-dinamica/galeria/tree.jpg" data-lightbox = "roadtrip" data-title="Arbol Blanco" ><img src="../assets/galeria-dinamica/galeria/tree.jpg" alt="Arbol blanco" class="imagen" width="1280" height="853"></a>
                <a href="../assets/galeria-dinamica/galeria/tree-2.jpg" data-lightbox = "roadtrip" data-title="Arbol" ><img src="../assets/galeria-dinamica/galeria/tree-2.jpg" alt="Arbol" class="imagen" width="1280" height="852"></a>
            </div>
        </section>
    </main>
     <footer>
        <div class="text-footer">
            <p>
                <br>Teléfono: 666777888.
                <br>Correo Electrónico: <a href="#">imaginaria@gmail.com</a>
                <br>Dirección: Calle Blas de Lezo, 23, 29015
            </p>
            <p>&copy;Todos los derechos Reservados</p>
        </div>
        <div class="iconos">
            <a href="https://www.linkedin.com" target="_blank">
                <img class="icono" src="../assets/linkedin.png" alt="icono Linkedins" height="50" width="50">
            </a>
            <a href="https://github.com/RaulGomezGarcia" target="_blank">
                <img class="icono" src="../assets/github.png" alt="icono de github" height="512" width="512">
            </a>
            <a href="https://www.instagram.com/" target="-blank">
                <img class="icono" src="../assets/instagram-svgrepo-com.svg" alt="icono instagram" height="800" width="800">
            </a>
        </div>
    </footer>
    
    <script src="../js/navbar.js"></script>
    <script src="../js/lightbox-plus-jquery.js"></script>
</body>
</html>